.main {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 42px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #242EDB;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 15px;
}
